{% extends "index.html" %}
{% block title %}Ecommerce Home page{% endblock title %}

{% block content %}

<div class="bg-gray-100 min-h-screen">

    <div class="container mx-auto p-4 flex flex-col md:flex-row gap-4">
        
        <!-- Sidebar -->
        <aside class="h-full sticky top-2 left-0 md:w-1/4 bg-white p-4 rounded-lg shadow-md transition-all duration-300 transform md:translate-x-0"
            id="sidebar">
            <h2 class="text-lg font-semibold mb-4 flex justify-between items-center">
                Category    
                <button class="md:hidden text-gray-600" onclick="toggleSidebar()">✖</button>
            </h2>

            <!-- Category Dropdown -->
            <form id="filterForm" method="GET" action="{% url 'shop' %}">
                <input type="hidden" name="sort" value="{{ request.GET.sort }}">
                <details class="mb-4">
                    <summary class="cursor-pointer font-medium text-gray-700 flex float-center">
                        <input type="radio" id="category" name="category" value="all" onchange="document.getElementById('filterForm').submit();"
                        {% if request.GET.category == 'all'|stringformat:"s" %}checked{% endif %}> 
                        <span class="float-left ml-3">All Products</span>

                    </summary>
                </details>

                {% for category in categories %}
                <details class="mb-4 group">
                    <summary class="cursor-pointer font-medium text-gray-700 flex  float-center">
                        
                        <input type="radio" id="category" name="category" value="{{ category.slug }}" onchange="document.getElementById('filterForm').submit();"
                        {% if request.GET.category == category.slug|stringformat:"s" %}checked{% endif %} placeholder="{{ category.name }}"> 
                        <span class="float-left ml-3">{{ category.name }}</span>
                        {% if category.sub_category %}
                        <span class="transition-transform duration-200 group-open:rotate-180">▼</span>
                        {% endif %}
                    </summary>
                    {% if category.sub_category %}
                      
                    <div class="mt-2 space-y-2 pl-4">
                        {% for sub in category.sub_category.all %}
                        <label class="flex items-center cursor-pointer">
                            <input id="category" type="radio" name="category" value="{{ sub.slug }}" class="mr-2 text-blue-500 focus:ring-2"
                                onchange="document.getElementById('filterForm').submit();"
                                {% if request.GET.category == sub.slug|stringformat:"s" %}checked{% endif %}>
                            <span class="text-gray-700 hover:text-blue-500 transition">{{ sub.name }}</span>
                        </label>
                        {% endfor %}
                    </div>
                    {% endif %}

                </details>
                {% endfor %}
            </form>
        </aside>

        <!-- Mobile Sidebar Toggle Button -->
        <button class="md:hidden bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md"
            onclick="toggleSidebar()">☰ Filters</button>

        <!-- Products Section -->
        <div>
            
        <div class="flex mb-2 relative flex w-full max-w-xxs flex-row gap-1 text-on-surface dark:text-on-surface-dark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="absolute left-2.5 top-1/2 size-5 -translate-y-1/2 text-on-surface/50 dark:text-on-surface-dark/50"> 
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
            <input type="search"  class="w-full rounded-radius border border-outline bg-surface-alt py-2 pl-10 pr-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark" name="search" placeholder="Search" aria-label="search"/>
            <form class="max-w-sm mx-auto" id="sortForm" method="get">
                <input type="hidden" name="category" value="{{ request.GET.category }}">
                <select id="countries" name="sort" onchange="document.getElementById('sortForm').submit();" class="bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option disabled {% if not request.GET.sort %}selected{% endif %}>Sort By</option>
                  <option {% if request.GET.sort == 'new'|stringformat:"s" %}selected{% endif %} value="new">Newest Arrivals</option>
                  <option {% if request.GET.sort == 'az'|stringformat:"s" %}selected{% endif %} value="az">Name (A - Z)</option>
                  <option {% if request.GET.sort == 'lh'|stringformat:"s" %}selected{% endif %} value="lh">Price - Low to High</option>
                  <option {% if request.GET.sort == 'hl'|stringformat:"s" %}selected{% endif %} value="hl">Price - High to Low</option>
                </select>
              </form>              
        </div>
        <section class="md:w-3/4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <!-- Product Card -->
            {% if products %}
            {% for product in products %}
            <div class="block bg-white p-4 rounded-lg shadow-md hover:shadow-lg transition">
            <a href="{% url 'product' product.slug %}" >
                <img src="{{ product.latest_image.img.url }}" alt="{{ product.title }}"
                    class="w-full h-48 object-cover rounded-lg">
                <h3 class="text-lg font-medium mt-2 text-gray-800">{{ product.title }}</h3>
                <p class=" font-small mt-2 text-gray-800">{{ product.category.name }}</p>
                <p class="text-gray-600">₹{{ product.price }}</p>
            </a>
                <button onclick="window.location.href=`/order/add-to-cart/?product_id={{ product.uid }}`" class="mt-2 w-full bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition">
                    Add to Cart
                </button>
            </div>
            {% endfor %}
            {% else %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{% if message.tags == 'error' %}text-red-500{% endif %} {% if message.tags == 'success' %}text-green-500{% endif %}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endif %}

        </section>
    </div>
    </div>

</div>

<!-- JavaScript for Sidebar Toggle -->
<script>
    function toggleSidebar() {
        const sidebar = document.getElementById("sidebar");
        sidebar.classList.toggle("-translate-x-full");
    }
</script>

{% endblock content %}
